{% extends './layout.html' %} 
{% block title %}Encryptor{% endblock %}
{% block body %} 

<div class="main_conteiner">
    <form action="/decipher_page" method="POST">
        <ul>
            <li><label> Ruta al archivo cifrado </label></li>
            <li><input class="form_input" name="cipher_file_path" type="file" id="file_select"></li>
            <li><label> Ruta a la llave privada </label></li>
            <li><input class="form_input" name="private_key_path" type="file" id="file_select"></li>
        </ul>
        <div class="btn_conteiner">
            <input class="submit_button" type="submit" value="Decifrar">
            <a href="/" type="button" class="button"> Volver </a>
        </div>
    </form>
</div>

{% with initial_message = get_flashed_messages() %}
    {% if initial_message %}
    <dialog id="welcome_msg">
        {% for msg in initial_message %}
            <p> {{ msg }}</p>
        {% endfor %}
        <input type="button" value="cerrar" onclick="this.parentElement.close()">
    </dialog>
    {% endif %}
{% endwith %}

{% with succesful_message = get_flashed_messages() %}
    {% if succesful_message %}
    <dialog id="post_message">
        {% for post_msg in succesful_message %}
            <p> {{ post_msg }}</p>
        {% endfor %}
        <input type="button" value="cerrar" onclick="this.parentElement.close()">
    {% endif %}
    </dialog>
{% endwith %}

<script>
    document.getElementsByClassName("main_conteiner").onload = welcomeLoad();
    document.getElementById("cipher_form").addEventListener("submit", finish_message);
    let welcomePopUp = false;

    function welcomeLoad(){
        document.getElementById("welcome_msg").show();
    }
    function finish_message() {
        document.getElemnetById("post_message").show();
    }
</script>

{% endblock %} 